@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i&subset=latin,latin-ext');

* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

div.main {
  padding: 0 15px 0 0;
}

header * {
  color: #fff;
}

.top-bar {
  background-color: rgb(41, 58, 63);  
}

.lang {
  margin: 0 65px 0 0;
  padding: 10px 0;
  text-align: right;
} 

.translation {
  font-size: 1.2em;
  margin: 0;
}

a.translation:hover,
a.translation:focus {
  color: #cdcdcd;
  text-decoration: none;
}

.jumbotron {
  background-color: rgb(41, 58, 63);
  margin-bottom: 0;
  box-shadow: 0px 5px 10px -5px #000;
}

.jumbotron div.img {
  padding-top: 15px;
  text-align: center;
}

.jumbotron img {
  width: 200px;
  height: 200px;
  padding: 0;
  border: 10px solid #fff;
  border-radius: 50%;
}

header.title {
 padding: 0 65px 0 40px;
}

header.title h1 {
  margin-top: 0 !important;
}

header.title h3 {
  margin-bottom: 0 !important;
}

header.title p {
  text-align: justify;
}

aside {
  padding: 0!important;
}

aside div {
  background-color: rgb(41, 58, 63);
  height: 300px;
}

/* agregamos la clase .topic para alternar el padding de los divs
segun el ancho del viewport posteriormente en un mediaquery. */
aside div.topic {
  color: #fff;
  padding: 0!important;
}

aside .topic-items {
  margin-left: 10px;
}

aside div h4 {
  margin-top: 0;
  height: 40px;
  line-height: 40px;
  padding-left: 60px;
  font-size: 1.4em;
}

.triangle-isosceles {
  position: relative;
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  position: absolute;
  bottom: -15px; /* value = - border-top-width - border-bottom-width */
  left: 50px; /* controls horizontal position */
  border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: rgb(255, 74, 89) transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

.triangle-1:after {
  border-color: rgb(255, 74, 89) transparent;
}
.triangle-2:after {
  border-color: rgb(173, 189, 74) transparent;
}
.triangle-3:after {
  border-color: rgb(53,	155, 182) transparent;
}
.triangle-4:after {
  border-color: rgb(255, 134,	68) transparent;
}

aside h4.contact {
 background-color: rgb(255, 74, 89);
}
  
aside h4.languages {
  background-color: rgb(173, 189, 74);
}	

aside h4.skills {
  background-color: rgb(53,	155, 182);
}	

aside h4.hobbies {
  background-color: rgb(255, 134,	68);
}	

/* CONTACT */

ul.topic-items {
  margin-top: 40px;
  list-style: none;
}

ul.topic-items li {
  margin: 10px 0;
  color: #fff;
}

ul.topic-items li span {
  vertical-align: top; /* vertical-align doesn’t set the alignment of content within a wrapper, it sets the alignment of inline elements relative to each other.*/
  margin-right: 10px;
  font-size: 1.5em;
}

ul.topic-items li p {
  display: inline-block;
  font-size: 1.2em;
}

ul.topic-items li p time {
  font-family: inherit;
  font-size: inherit;
}

/* LINEAR GAUGES */
.gauge-bk {
  background-color: rgb(37,	47,	54);
  width: 80%;
  height: 3px;
  visibility: visible;
}
.gauge-fg {
  background-color: #fff;
  height: 3px;  
}

.gauge-fg-10 {
    width: 10%;
}

.gauge-fg-20 {
    width: 20%;
}

.gauge-fg-30 {
    width: 30%;
}

.gauge-fg-40 {
    width: 40%;
}

.gauge-fg-50 {
    width: 50%;
}

.gauge-fg-600 {
    width: 60%;
}

.gauge-fg-70 {
    width: 70%;
}

.gauge-fg-80 {
    width: 80%;
}

.gauge-fg-90 {
    width: 90%;
}

.gauge-fg-100 {
    width: 100%;
}

/* CIRCULAR GAUGE */
.gauges-container {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  margin-left: -20px
}
.gauges-container li {
  display: inline-block;
  margin: 0!important;
  padding: 0!important;
}

.gauges-container li p{
  width: 100px; /* doy el mismo ancho que tiene el gauge */
  text-align: center; /* para poder centrar el texto del parrafo */
  margin-bottom: 0;
}

.gauge {
  width: 100px;
  height: 100px;
  display: block;
}

/* LANGUAGES */

/* DETAILED PROFILE */

.cv-data {
  padding-left: 50px;
  padding-right: 60px;
}

.cv-data p {
  text-align: justify;
  font-size: 1.2em;
}

.cv-data h4 {
  font-weight: 700;
  font-size: 1em;
}

span.subtitle {
  color: rgb(255, 74, 89);
  text-transform: uppercase;
  font-weight: 700;
}

footer {
  box-shadow: 1px 1px 10px #000;
  background-color: rgb(41, 58, 63);  
  width: 100%;
  height: 300px;
}

/* MEDIA QUERYS */
@media screen and (max-width: 1000px) {
  .lang {
    margin-right: 30px;
  }
  ß
  padding-left
  .jumbotron div.img {
    text-align: center;
  }

  header.title {
    padding-left: 30px;
    padding-right: 30px;
  }

  aside div.topic {
    padding: 0 10px!important;
  }

  .cv-data {
    padding-left: 50px;
    padding-right: 40px;
  }
}

